<div class="flex items-center justify-between mb-6">
  <h2 class="text-2xl font-semibold text-black">{{config.title}}</h2>
  <button (click)="onNewCustomer()"
    class="flex items-center gap-2 bg-black hover:text-black  hover:bg-yellow-400 text-white font-medium py-2 px-4 rounded-full shadow-md transition duration-200">
    <ng-icon name="bootstrapPlusCircleFill" />
    <span class="text">{{config.newButtonLabel}}</span>
  </button>
</div>

<div class="grid grid-cols-1 gap-4 mt-6">
  <app-customers-list [customers]="customers" (editAction)="handleEditAction($event)" (deleteAction)="handleDeleteAction($event)"></app-customers-list>
</div>

<app-modal [title]="isNewCustomer ? 'Crear Cliente' : 'Editar Cliente'" [show]="isModalOpen"
  (modalAction)="handleModalAction($event)">
  <app-customers-form [customer]="currentCustomer" (formSubmit)="handleSaveAction($event)"></app-customers-form>
</app-modal>