<div class="flex h-screen bg-gray-100">
  <app-sidebar [isSidebarOpen]="isSidebarOpen"></app-sidebar>
  <!-- Main content -->
  <div class="flex-1 flex flex-col">
    <!-- Header -->
    <header class="h-16 bg-white shadow-md flex items-center px-4 justify-between">
      <button (click)="toggleSidebar()" class="text-black">
        <ng-icon name="heroChevronDoubleLeftSolid" class="transition-transform duration-500"
          [class.rotate-180]="!isSidebarOpen"></ng-icon>
      </button>

      <app-user-menu [name]="user.name" [email]="user.email" [avatarUrl]="'/user-avatar.png'" [profileLink]="'/profile'"
        [settingsLink]="'/settings'" (logout)="logout()" />
    </header>

    <!-- Content -->
    <main class="p-6 overflow-y-auto flex-1">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>