<form [formGroup]="customerForm" class="space-y-4">

  <!-- RUC -->
  <div>
    <label class="block font-medium text-gray-700 mb-1">RUC</label>
    <input
      type="text"
      formControlName="ruc"
      class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring focus:border-blue-300"
      [ngClass]="{ 'border-red-500': customerForm.get('ruc')?.invalid && customerForm.get('ruc')?.touched }"
    />
    <p *ngIf="customerForm.get('name')?.touched && customerForm.get('ruc')?.invalid" class="text-red-600 text-sm mt-1">
      El RUC es obligatorio.
    </p>
  </div>

  <!-- Nombre -->
  <div>
    <label class="block font-medium text-gray-700 mb-1">Nombre</label>
    <input
      type="text"
      formControlName="name"
      class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring focus:border-blue-300"
      [ngClass]="{ 'border-red-500': customerForm.get('name')?.invalid && customerForm.get('name')?.touched }"
    />
    <p *ngIf="customerForm.get('name')?.touched && customerForm.get('name')?.invalid" class="text-red-600 text-sm mt-1">
      El nombre es obligatorio.
    </p>
  </div>

  <!-- Email -->
  <div>
    <label class="block font-medium text-gray-700 mb-1">Email</label>
    <input
      type="email"
      formControlName="email"
      class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring focus:border-blue-300"
      [ngClass]="{ 'border-red-500': customerForm.get('email')?.invalid && customerForm.get('email')?.touched }"
    />
    <p *ngIf="customerForm.get('email')?.touched && customerForm.get('email')?.invalid" class="text-red-600 text-sm mt-1">
      <span *ngIf="customerForm.get('email')?.errors?.['required']">El email es obligatorio.</span>
      <span *ngIf="customerForm.get('email')?.errors?.['email']">El formato del email no es válido.</span>
    </p>
  </div>

  <!-- Teléfono -->
  <div>
    <label class="block font-medium text-gray-700 mb-1">Teléfono</label>
    <input
      type="text"
      formControlName="phone"
      class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring focus:border-blue-300"
      [ngClass]="{ 'border-red-500': customerForm.get('phone')?.invalid && customerForm.get('phone')?.touched }"
    />
    <p *ngIf="customerForm.get('phone')?.touched && customerForm.get('phone')?.invalid" class="text-red-600 text-sm mt-1">
      El teléfono es obligatorio.
    </p>
  </div>

  <!-- Dirección -->
  <div>
    <label class="block font-medium text-gray-700 mb-1">Dirección</label>
    <input
      type="text"
      formControlName="address"
      class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring focus:border-blue-300"
    />
  </div>
</form>
