<aside class="bg-white shadow-md transition-all duration-300 h-screen" [ngClass]="{
      'w-55 block': isSidebarOpen,
      'w-0 hidden': !isSidebarOpen
    }">
    <div
        class="h-16 flex items-center justify-center font-bold text-black text-lg tracking-normal duration-200 shadow-md">
        <ng-icon name="bootstrapHexagonHalf" class="mr-2" />
        {{sidebarConfig.title}}
    </div>
    <nav class="p-4">
        <a routerLink="{{sidebarConfig.optionsMenu.dashboard.route}}" routerLinkActive="font-bold text-yellow-600"
            class="flex items-center gap-2 py-2 px-3 rounded hover:bg-black hover:text-white">
            <ng-icon name="bootstrapPieChartFill" />
            {{sidebarConfig.optionsMenu.dashboard.label}}</a>
        <a routerLink="{{sidebarConfig.optionsMenu.items.route}}" routerLinkActive="font-bold text-yellow-600"
            class="flex items-center gap-2 py-2 px-3 rounded hover:bg-black hover:text-white">
            <ng-icon name="bootstrapCircleSquare" />
            {{sidebarConfig.optionsMenu.items.label}}</a>
        <a routerLink="{{sidebarConfig.optionsMenu.customers.route}}" routerLinkActive="font-bold text-yellow-600"
            class="flex items-center gap-2 py-2 px-3 rounded hover:bg-black hover:text-white">
            <ng-icon name="bootstrapPersonFill" />
            {{sidebarConfig.optionsMenu.customers.label}}</a>
        <app-nav-group label="{{ sidebarConfig.optionsMenu.orders.label }}" iconName="bootstrapBoxFill" [id]="'orders'"
            [openByDefault]="false" [items]="[
        { label: 'All Orders', route: '/orders' },
        { label: 'New',        route: '/orders/new'  }
      ]"></app-nav-group>
    </nav>
</aside>